.about-us {
  margin-top: 5%;
  margin-bottom: 5%;
}

.about-card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border: none;
}

.about-spinner {
  text-align: center;
  line-height: 300px;
}

.contact-us {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.about-image {
  margin-top: 10%;
}

@media only screen and (min-width: 768px) {
  .about-card  {
    width: 80%;
  }
  .contact-us {
    width: 80%;
  }
  
}
