.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #34495e;
}

.footer p {
  color: #ffffff;
}

.copyright {
  background-color: #ffffff;
}

.copyright p {
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}
