.footer {
  background-color: rgba(72, 84, 96,1.0);
}

.footer-contact {
  color: #ffffff;
  height: 250px;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  line-height: 35px;
  display: flex;
  justify-content: space-around;
}

.footer-title {
  color: rgba(126, 214, 223,1.0);
  font-size: larger;
}

.footer-text {
  font-size: 14px;
}

.footer-image {
  object-fit: cover;
}

.copyright {
  background-color: #ffffff;
  font-size: small;
  line-height: 50px;
  color: black;
  text-align: center;
}

.footer-svg {
  color: 	rgba(236, 240, 241,1.0);
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .copyright {
    font-size: small;
  }
}
