.footer {
  background-color: #485460;
  width: 100vw;
  height:auto;
  margin-top: 100px;
  position: relative;
}
.left-text{
  margin-top: auto;
  margin-bottom: auto;
}

.footer-contact {
  color: #ffffff;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  line-height: 35px;
  display: flex;
  justify-content: space-around;
}
.footer-container{
  margin:auto;
}
.footer-title {
  color: #1e90ff;
  font-size: larger;
}

.footer-text {
  font-size: 14px;
}

.footer-image {
  width: 65%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.copyright {
  background-color: #ffffff;
  font-size: small;
  line-height: 50px;
  color: black;
  text-align: center;
  height:50px;
  margin-bottom: 0px;
  position: relative;
  border:none;

}

.footer-svg {
  color: 	rgba(236, 240, 241,1.0);
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

@media  screen and (max-width: 768px) {
  .footer-image{
    width:100%;
  }
}

@media  screen and (max-width: 576px) {
  .copyright {
    font-size: small;
  }
  .footer-text{
    font-size:1px;
  }
  .footer-image{
    width:80%;
    margin-left:10%;
  }
  .left-text{
    margin-left: 10%;
  }

}
@media  screen and (max-width: 450px) {
  .footer{
    margin-top:50px;
  }


}

.body{
  min-height: auto;
}