.box {
  position: relative;
  width: 23em;
  height: 18em;
  line-height: 10em;
  overflow: hidden;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}
.box__right, .box__left, .box__top, .box__bottom, .box__center {
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: inherit;
  transition: transform 0.4s ease;
}
.box__right:before, .box__left:before, .box__top:before, .box__bottom:before, .box__center:before {
  position: absolute;
  content: '';
  width: 70.71%;
 /* * Calculation: * ____a____ * /|\ | * b | \ | * / a \ | * \ | / | * \ | / | * \|/________| * * a^2 = b^2+b^2 * * solve to b: * * a^2 = 2b^2 | /2 * a^2 / 2 = b^2 | sqrt * a / sqrt(2) = b * * Percentage: * a = 100% * 100 / sqrt(2) = 70.71% * ------ */
  height: 70.71%;
  transform: rotate(45deg);
}
.box__right:hover, .box__left:hover, .box__top:hover, .box__bottom:hover, .box__center:hover {
  transform: translateX(0);
  z-index: 1;
}
.box__right:hover:before, .box__left:hover:before, .box__top:hover:before, .box__bottom:hover:before, .box__center:hover:before {
  width: 100%;
  height: 100%;
  transform: none;
}
.box__right {
  background: white;
  opacity: 0.5;
  transform: translateX(100%);
}
.box__right:before {
  right: 100%;
  bottom: 0;
  transform-origin: 100% 100%;
}
.box__right:hover ~ .box__center {
  transform: translateX(-100%);
}
.box__left {
  background: white;
  opacity: 0.5;
  transform: translateX(-100%);
}
.box__left:before {
  left: 100%;
  transform-origin: 0 0;
}
.box__left:hover ~ .box__center {
  transform: translateX(100%);
}
.box__top {
  background: white;
  opacity: 0.5;
  transform: translateY(-100%);
}
.box__top:before {
  top: 100%;
  right: 0;
  transform-origin: 100% 0;
}
.box__top:hover ~ .box__center {
  transform: translateY(100%);
}
.box__bottom {
  background: white;
  opacity: 0.5;
  transform: translateY(100%);
}
.box__bottom:before {
  bottom: 100%;
  left: 0;
  transform-origin: 0 100%;
}
.box__bottom:hover ~ .box__center {
  transform: translateY(-100%);
}
.box__center {
  z-index: -1;
}

i {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
  .box {
    width:28rem;
    height:20rem;

  }
}
.container-fluid {
  width: 100vw;
}