.icon {
    color: 	#f7f7f7;
    padding-left: 10px;
    font-size: small;
    width: 25px;
    height: 25px;
}

.text-primary {
    padding-left: 3px;
    font-size: small;
}

.text-sec {
    font-size: small;
}

.navi {
    height: 30px;
}

@media only screen and (max-width: 1100px) {
    /* For desktop: */
    .text-sec {
        display: none;
    }
  }