.header-icon {
    color: 	rgba(236, 240, 241,1.0);
    padding-left: 3px;
    width: 16px;
    height: 16px;
}

.header-contact {
    padding-left: 3px;
    font-size: small;
    padding-right: 10px;
}

.text-sec {
    font-size: small;
}

.navi {
    height: 30px;
}

@media only screen and (max-width: 1100px) {
    /* For desktop: */
    .text-sec {
        display: none;
    }
  }