.carousel-arrow {
  width: 80px;
  height: 80px;
}
.carousel-arrow:hover {
  background-color: cadetblue;
}

.card-video {
  width: 100%;
  display: flex;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  text-align: center;
  color: #0984e3;
}

.video-player {
  margin: auto;
}