#carousel-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.carousel-arrow {
  width: 50px;
  height: 80px;
}
.carousel-arrow:hover {
  background-color: rgba(149, 165, 166, 0.7);
}

.card-video {
  width: 100%;
  display: flex;
}

/* .home-content {
  width: 100%;
}

.home-content::before {
  content: "";
  background-image: url(https://images.pexels.com/photos/54123/pexels-photo-54123.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
} */

.spinner-container {
  width: 100%;
  height: 300px;
}

.home-image-spinner {
  line-height: 300px;
  text-align: center;
}

.home-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: none;
  width: 40%;
}

.card-title {
  margin-bottom: 50px;
  text-align: center;
  color: #0984e3;
}

.video-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.video-player {
  margin-bottom: 5%;
}
