#carousel-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.carousel-arrow {
  width: 50px;
  height: 80px;
}
.carousel-arrow:hover {
  background-color: rgba(149, 165, 166, 0.7);
}

.card-video {
  width: 100%;
  display: flex;
}

.spinner-container {
  width: 100%;
  height: 300px;
}

.home-image-spinner {
  line-height: 300px;
  text-align: center;
}

.home-image-text {
  position: absolute;
  left: 20%;
  top: 75%;
  font-size: 50px;
  color: white;
}

.home-card {
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: none;
  width: 40%;
}

.card-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  color: #0984e3;
}

.card-text {
  font-size: 20px;
}

.video-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.video-player {
  margin-bottom: 5%;
}

@media only screen and (max-width: 775px){
  .card-video {
    flex-direction: column;
  }
  .home-card {
    width: 80%;
  }
  .home-carousel-image{
    width: 100%;
    height: 250px;
  }
}