#carousel-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.carousel-arrow {
  width: 80px;
  height: 80px;
}
.carousel-arrow:hover {
  background-color: cadetblue;
}

.card-video {
  width: 100%;
  display: flex;
}

.home-card {
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 40%;
}

.card-title {
  text-align: center;
  color: #0984e3;
}

.video-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.video-player {
  margin-bottom: 5%;
}
