.message {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.message-card {
  margin-left: auto;
  margin-right: auto;
  border: none;
}

@media only screen and (min-width: 768px) {
  .message-card {
    width: 80%;
  }
}
